
h1 {width: 100%; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
ul {
    list-style-position: inside;
    list-style-type: none;
}
li {list-style-position: inside;}

.toDo {
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.removeB {
    margin-left: auto;
}

.btn-group button {
    background-color: white; 
    border: 1px solid black; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    align-items: center;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:hover {
    background-color: gray;
  }

  div.input {
    position: fixed;
    left: 1%;
    bottom: 1%;
    width: 100%;
    display: flex;
  }